@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

// palette: 
  // primary: #196B42,
  // secondary: #19426B,
  // tertiary: #196B6B,

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.chatContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.messageContainer {
  border-style: solid;
  border-radius:2em;
  height: auto;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2em;
}

// .nominationTile {
//   border-style: solid;
//   // border-radius:2em;
//   // height: auto;
//   // width: 80%;
//   margin: auto;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   padding: 2em;
// }

// .nominationTileContainer {
//   display: flex;
//   flex-wrap: wrap;

// }

.formContainer {
  grid-template-columns: 1fr 500px 1fr;
  width: 75%;
  margin: auto;
}

.memeMap {
  overflow-y: scroll;
  height: 30em;
  width: 85%;
  margin: auto;
}

.meme {
  margin: auto;
}

.largeContainer {
  display: flex;
  flex-direction: column;
  background-color: #5e9797;
}

.centerHeaders {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  // justify-content: center;

  // width: 75%;
  // grid-template-columns: auto;
  // margin-bottom: 10px;
}

.header {
  display: flex;
  flex-grow: 1;
}
