@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.chatContainer {
  display: grid;
  // grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.messageContainer {
  // border: 5px solid #black;
  border-style: solid;
  height: 200px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formContainer {
  grid-template-columns: 1fr 500px 1fr;
  width: 50%;
  margin: auto;
}